body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}

.content
{
    background-color: #f0f2f5;
    height: 650px;
    float: left;
    width: 100%;
}

.mainContainer
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.half
{
    width: 50%;
    float: left;
}

.logo
{
    width: 50%;
    margin-top: 50px;
    
}
.logo img
{
    width: 100%;
}

.text
{
    margin-top: 10px;
    font-size: 26px;

}

.loginBox
{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: right;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.inputBox
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 40px;
}

.inputBox input
{
    background: none;
    background-color: none;
}

#login
{
    background-color: #1877f2;
    border: none;
    transition: background-color 0.5s;
}
#login:hover
{
    background-color: #1265d1;
    border: none;
    transition: background-color 0.5s;
}

#login input, .newAccount input
{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

#pass input,  
{
    width: 100%;
    height: 100%;
    outline: none;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    border: none;
    padding-left: 15px;
    background: none;
    
}


.otherInputs
{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 15px;
}

.forgetPass
{
    text-align: center;
    margin-top: 20px;
    font-size: 13px;


}
.forgetPass a
{
    text-decoration: none;
    color: #1877f2;

}
.forgetPass a:hover
{
    text-decoration: underline;
}

.line
{
    margin-top: 20px;
    height: 1px;
    background-color: gray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.newAccount
{
    background-color: #42b72a;
    border-radius: 5px;
    height: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.5s;
    
}

.textUnder
{
    float: right;
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 25px;
    font-size: 12px;
    text-align: center;
}
.textUnder a
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}


.footer
{
    width: 900px;
    font-size: 10px;
    margin-top: 30px;
    float: left;
    margin-left: 320px;

}
.leftSpace
{
    margin-left: 7px;
}